<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>@ViewData["Title"] - Özgür Seyhan Admin Paneli</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/ready.css">
	<link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/demo.css">
</head>
<body>
	<div class="wrapper">
		<!-- Header -->
		<div class="main-header">
			<div class="logo-header">
				<a href="@Url.Action("Index", "Home")" class="logo">
					Özgür Seyhan
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Ara ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
								<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/Özgür Hoca resim.jpg" alt="user-img" width="36" class="img-circle">
								<span>Özgür Seyhan</span>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="~/Ready-Bootstrap-Dashboard-master/assets/img/Özgür Hoca resim.jpg" alt="user"></div>
										<div class="u-text">
											<h4>Özgür Seyhan</h4>
											<p class="text-muted">İngilizce Öğretmeni</p>
										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="ti-user"></i> Profilim</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Çıkış</a>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<!-- Sidebar -->
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/Özgür Hoca resim.jpg">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								Özgür Seyhan
								<span class="user-level">İngilizce Öğretmeni</span>
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>
						<div class="collapse in" id="collapseExample" aria-expanded="true">
							<ul class="nav">
								<li>
									<a href="#profile">
										<span class="link-collapse">Profilim</span>
									</a>
								</li>
								<li>
									<a href="#settings">
										<span class="link-collapse">Ayarlar</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<ul class="nav">
					<li class="nav-item">
						<a href="@Url.Action("Dashboard", "Home")">
							<i class="la la-dashboard"></i>
							<p>Dashboard</p>
						</a>
					</li>
					
					<!-- YouTube Yönetimi -->
					<li class="nav-item">
						<a data-toggle="collapse" href="#youtubeMenu">
							<i class="la la-youtube"></i>
							<p>YouTube Yönetimi</p>
							<span class="caret"></span>
						</a>
						<div class="collapse" id="youtubeMenu">
							<ul class="nav nav-collapse">
								<li>
									<a href="@Url.Action("PlaylistIndex", "Youtube")">
										<span class="sub-item">Playlist İşlemleri</span>
									</a>
								</li>
								<li>
									<a href="@Url.Action("VideoIndex", "Youtube")">
										<span class="sub-item">Video İşlemleri</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li class="nav-item">
						<a href="@Url.Action("Index", "OzelDers")">
							<i class="la la-book"></i>
							<p>Özel Ders Yönetimi</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="@Url.Action("PodcastIndex", "Youtube")">
							<i class="la la-podcast"></i>
							<p>Podcast Yönetimi</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Main Panel -->
		<div class="main-panel">
			@RenderBody()
			
			<footer class="footer">
				<div class="container-fluid">
					<div class="copyright ml-auto">
						@DateTime.Now.Year, made with <i class="la la-heart heart text-danger"></i> by Özgür Seyhan
					</div>
				</div>
			</footer>
		</div>
	</div>

	<!-- Scripts -->
	<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/popper.min.js"></script>
	<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/bootstrap.min.js"></script>
	<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/ready.min.js"></script>
	
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
