@model OzgurSeyhanWebSitesi.Core.Dtos.PlaylistDtos.PlaylistWithVideosDto

@{
    ViewData["Title"] = "Playlist Videoları";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Playlist Videoları</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title">@Model.Baslik</h4>
                                <p class="card-category">Toplam @Model.Videos.Count video</p>
                            </div>
                            <a href="@Url.Action("PlaylistIndex", "Youtube")" class="btn btn-secondary">
                                <i class="la la-arrow-left"></i> Geri Dön
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="width: 120px;">Thumbnail</th>
                                        <th>Video Başlığı</th>
                                        <th>Video ID</th>
                                        <th class="text-center">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Videos != null && Model.Videos.Any())
                                    {
                                        int index = 1;
                                        @foreach (var video in Model.Videos)
                                        {
                                            <tr>
                                                <td>@index</td>
                                                <td>
                                                    <img src="https://img.youtube.com/vi/@video.VideoId/default.jpg" 
                                                         alt="@video.Baslik" 
                                                         class="img-thumbnail" 
                                                         style="width: 100px;">
                                                </td>
                                                <td>
                                                    <strong>@video.Baslik</strong>
                                                </td>
                                                <td><code>@video.VideoId</code></td>
                                                <td class="text-center">
                                                    <a href="@video.Url" 
                                                       target="_blank" 
                                                       class="btn btn-info btn-sm" 
                                                       title="YouTube'da İzle">
                                                        <i class="la la-play"></i> İzle
                                                    </a>
                                                </td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center">Bu playlist'te video bulunamadı.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
